---
http_interactions:
- request:
    method: get
    uri: https://api.hetzner.cloud/v1/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '3600'
      Ratelimit-Remaining:
      - '3599'
      Ratelimit-Reset:
      - '1690625787'
      Link:
      - "<https://api.hetzner.cloud/v1/servers?page=1>; rel=last"
      X-Correlation-Id:
      - 22076dba3d69fe45
    body:
      encoding: UTF-8
      string: |
        {
          "servers": [],
          "meta": {
            "pagination": {
              "page": 1,
              "per_page": 25,
              "previous_page": null,
              "next_page": null,
              "last_page": 1,
              "total_entries": 3
            }
          }
        }
  recorded_at: Sat, 29 Jul 2023 10:16:26 GMT
recorded_with: VCR 6.2.0
