---
http_interactions:
- request:
    method: get
    uri: https://api.hetzner.cloud/v1/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="HC"
      X-Correlation-Id:
      - b0b7fc2f2ab902a
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "unable to authenticate",
            "code": "unauthorized",
            "details": null
          }
        }
  recorded_at: Sat, 29 Jul 2023 10:30:16 GMT
recorded_with: VCR 6.2.0
