---
http_interactions:
- request:
    method: get
    uri: https://api.hetzner.cloud/v1/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '3600'
      Ratelimit-Remaining:
      - '3599'
      Ratelimit-Reset:
      - '1690625787'
      Link:
      - "<https://api.hetzner.cloud/v1/servers?page=1>; rel=last"
      X-Correlation-Id:
      - 22076dba3d69fe45
    body:
      encoding: UTF-8
      string: |
        {
          "servers": [
            {
              "id": 35341841,
              "name": "server-one",
              "status": "running",
              "created": "2023-07-28T11:50:31+00:00",
              "public_net": {
                "ipv4": {
                  "ip": "189.203.223.117",
                  "blocked": false,
                  "dns_ptr": "static.117.223.203.116.clients.your-server.de",
                  "id": 35926958
                },
                "ipv6": {
                  "ip": "2a01:4f8:c2c:e4e8::/64",
                  "blocked": false,
                  "dns_ptr": [],
                  "id": 35926959
                },
                "floating_ips": [],
                "firewalls": []
              },
              "private_net": [
                {
                  "network": 3169618,
                  "ip": "10.15.1.1",
                  "alias_ips": [],
                  "mac_address": "86:00:00:53:b3:bc"
                }
              ],
              "server_type": {
                "id": 22,
                "name": "cpx11",
                "description": "CPX 11",
                "cores": 2,
                "memory": 2.0,
                "disk": 40,
                "deprecated": false,
                "prices": [
                  {
                    "location": "ash",
                    "price_hourly": {
                      "net": "0.0063000000",
                      "gross": "0.0074970000000000"
                    },
                    "price_monthly": {
                      "net": "3.8500000000",
                      "gross": "4.5815000000000000"
                    }
                  },
                  {
                    "location": "hel1",
                    "price_hourly": {
                      "net": "0.0063000000",
                      "gross": "0.0074970000000000"
                    },
                    "price_monthly": {
                      "net": "3.8500000000",
                      "gross": "4.5815000000000000"
   [...]
